* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "digital-7";
  font-weight: 400;
  src: url("/src/assets/fonts/digital-7_mono-webfont.woff2") format("woff2"),
    url("/src/assets/fonts/digital-7_mono-webfont.woff") format("woff");
}

:root {
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom css */
body {
  display: grid;
  place-items: center;
}
.calculator-frame {
  aspect-ratio: 9/10.5;
  padding: 1rem;
  width: clamp(20rem, 25.2vw, 25rem);
  border-radius: 0.75em;
  background: radial-gradient(
    ellipse farthest-corner at 5% 95%,
    hsl(208, 90%, 58%),
    hsl(208, 100%, 19%)
  );
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7), 0 0 20px 0 rgba(0, 0, 0, 0.5),
    0 0 25px 0 rgba(0, 0, 0, 0.3), 10px 0 4px 10px rgba(0, 0, 0, 0.3),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.7), inset 0 0 10px 0 rgba(0, 0, 0, 0.5),
    inset 0 -5px 5px 0 hsl(208, 23%, 30%),
    inset 0 -5px 10px 0 rgba(255, 255, 255, 0.3);
}
.display-container {
  position: relative;
  margin: 20px 0;
  border-radius: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.screen {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 4rem;
  font-family: "digital-7", monospace;
  font-weight: 400;
  text-align: right;
  color: #0c0c0c;
  letter-spacing: 2px;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
  box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, 0.3),
    5px 0 3px -5px rgba(255, 255, 255, 0.8), 0 5px 5px -3px rgba(0, 0, 0, 0.5),
    -3px 0 3px -1px rgba(0, 0, 0, 0.8), inset 0 -5px 3px -4px rgba(0, 0, 0, 0.5),
    inset 5px 0 5px -2px rgba(0, 0, 0, 0.8);
}

button {
  cursor: pointer;
  min-width: 4.45rem !important;
  padding-block: 0.6em;
  margin: 0.5rem;
  border-radius: 0.5em;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: rgb(41, 41, 41);
  background: radial-gradient(
    circle,
    rgba(41, 41, 41, 1) 0%,
    rgba(26, 26, 26, 1) 83%
  );
  box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, 0.3),
    -5px 0 3px -5px rgba(17, 17, 17, 0.8), 0 -5px 5px -3px rgba(0, 0, 0, 0.5),
    3px 0 3px -1px rgba(0, 0, 0, 0.8), inset 0 -5px 3px -4px rgba(0, 0, 0, 0.5),
    inset -5px 0 5px -2px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.35s ease-in-out, translate 0.1s ease-in;
}

button:active {
  box-shadow: none;
  translate: 0 1.25px;
}
